:root {
    --pink: #880505;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    /*aturan buat bikin bayangan, cara bacanya x-offside nya 0, y-offside 2px, blur 2px, warna. (klo gak pke rgba nulisnya rgb(0,0,0/0.5)*/
}

body {
    font-size: 1.2rem;
    /*default font nya 1.2 x 16px, gunanya rem spy gampang ngatur font secara responsive*/
    font-family: "Work Sans", sans-serif;
    min-height: 2000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/miss.jpg);
    /* background-image: url(img/baby1.jpg); */
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    /*img di belakang tulisan*/
}

.hero {
    position: relative;
    min-height: 100vh;
    /*background-color: var(--bg);*/
}

.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 4rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: whitesmoke;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: whitesmoke;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    /* font-weight: 600; */
    text-transform: uppercase;
}

.home {
    background-image: url(img/miss1.jpg);
    /* background-image: url(img/bby.jpg); */
    background-size: cover;
    min-height: 50vh;
    margin-top: -6rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    /* filter: opacity(50%); */
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 3rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #666;
}

.home .couple {
    margin-top: 20px;
}

.home .couple h3 {
    font-family: 'Sacramento';
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

.home .balon {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 50%;
    box-shadow: var(--shadow);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .balon i {
    margin: auto;
    color: var(--pink);
}

.card {
    background-color: rgba(255, 255, 255, 0.3);
}

.card h5 {
    font-family: 'Arial Narrow Bold';
    font-size: 2rem;
    padding-bottom: 4px;
}

.btn-secondary {
    --bs-btn-hover-color: #fff;
}

.fs-5 {
    font-size: 2rem !important;
}

.info {
    background-color: var(--bg);
    color: whitesmoke;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    /* angka font weight dari ukuran font yg ada di head */
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: whitesmoke !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;

}

.story,
.gallery,
.rsvp,
.gifts {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1rem;
    font-weight: 300;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0rem;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;

}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    background-color: white;
    position: relative;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;

}

.timeline li .timeline-panel::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}


.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;

}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.gallery {
    background-color: #f5fff3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: rgb(107, 10, 10);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.rsvp {
    background-image: url(img/miss1.jpg);
    /* background-image: url(img/bby.jpg); */
    background-size: cover;
}

.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp p {
    color: black;
}

.rsvp form label {
    color: gray;
}

.rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.rsvp button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
}

footer {
    padding: 3rem;
    background-color: var(--pink);
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: muter 4s linear infinite;
    transform-origin: center;
    /* background-color: violet; */
    /* transform origin utk ubah titik poros wkt mutar, karna default nya poros nya di kanan atas */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes muter {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}


/*Media Query*/
/* Extra Large */
@media (max-width: 1200px) {
    .home .balon {
        transform: translateX(-50%) translateY(45px);
    }
}

/* Laptop */
@media (max-width: 992px) {
    html {
        /* ukuran font nya 75% dari rem */
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 30px;
    }

    .home .balon {
        display: none;
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: calc(100% - 200px);
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 30px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow: hidden;
    }

    .timeline li .timeline-image {
        width: 140px;
        height: 140px;
    }

}

/* Mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 25px;
        margin: 3px;
    }

    .timeline li .timeline-image {
        width: 80px;
        height: 80px;
    }

    .timeline li .timeline-panel {
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 30px;
    }

    .timeline li .timeline-panel::after {
        top: 31px;
    }
}
